@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* header */
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    background-color: rgb(67, 121, 131);
}

.logo-travel{
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.navigasi{
    display: flex;
    padding: 40px;
}

/* main */
.section h5{ 
    color: #6c757d;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.section h1{ 
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.main-container{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 10px;
}

.gambar-review{
    display: flex;
}

.img-slideshow{
    max-width: 750px;
    max-height: 980px;
    display: flex;
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:grey;
    filter: brightness(100%);
    font-family: 'Nunito Sans', sans-serif;
}

.contact-us h3{
    margin: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

.contact-us p{
    margin: 50px; 
    background-color: grey;
    color: white;
}

form {
    margin: 50px;
}

label {
    margin-top: 200px;
}


input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 50px;

}


input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}


input[type=submit]:hover {
    opacity: 0.8;
}

.information-container{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 10px;
}

.box-sidebar{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
}
.information-container2{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 10px;
}
.information-container3{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 10px;
}

.information-container4{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 10px;
}

#our-package{
    display: flex;
    border-bottom: 2px solid grey;
    background-color:grey;
    filter: brightness(100%);
    justify-content: center;
    font-size: 30px;
}
.package-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid grey;
    filter: brightness(100%);
    font-family: 'Nunito Sans', sans-serif;
    
}

.item-flex{
    font-size: 17px;
    line-height: 2;
    text-align: center;
}

#closing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin: 0;
    align-items: center;
    border-bottom: 2px solid grey;
    font-family: 'Nunito Sans', sans-serif;
}

#closing button {
    width: 15%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;

}

h2{
    font-family: 'Nunito Sans', sans-serif;
}
/* Footer */
.footer-container{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
/* Mobile Styles max-width */
    @media only screen and (max-width: 600px) {
        .header-wrap{
            flex-direction: column;
        }

        .navigasi{
            flex-direction: column;
        }

        .main-container{
            flex-direction: column;
        }

        .gambar-review{
            flex-direction: column;
        }

        .contact-us{
            flex-direction: column;
        }

        .information-container{
            flex-direction: column;
        }

        .information-container2{
            flex-direction: column;
        }

        .information-container3{
            flex-direction: column;
        }

        #our-package{
            flex-direction: column;
        }

        #closing{
            flex-direction: column;
        }

        .footer-container{
            flex-direction: column;
        }
    }

    /* Mobile Styles max-width */
    @media only screen and (max-width: 400px) {
        .header-wrap{
            flex-direction: column;
        }

        .navigasi{
            flex-direction: column;
        }

        .main-container{
            flex-direction: column;
        }

        .gambar-review{
            flex-direction: column;
        }

        .contact-us{
            flex-direction: column;
        }

        .information-container{
            flex-direction: column;
        }

        .information-container2{
            flex-direction: column;
        }

        .information-container3{
            flex-direction: column;
        }

        #our-package{
            flex-direction: column;
        }

        #closing{
            flex-direction: column;
        }

        .footer-container{
            flex-direction: column;
        }
    }